* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
#back {
  width: 100%;
  height: 83vh;
  background-color: whitesmoke;
  background-image: url(../img/pexels-wendelin-jacober-1440504.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10vh;
}
.tex {
  text-align: start;
  padding-top: 15vh;
}
.tex h1 {
  font-size: 36px;
}

.tex p {
  color: wheat;
  margin: 20px 0;
  font-weight: 200;
}
.shop {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos-slide {
  display: inline-block;
  animation: 50s slide infinite linear;
}
.logos-slide img {
  height: 100px;
  margin: 0 40px;
}
.three-category {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 70vh;
  margin: 15px;
  text-align: center;
  padding: 50px;
  color: whitesmoke;
}
.three-category h2 {
  font-family: "Oswald", sans-serif;
  padding-top: 200px;
  font-weight: bold;
  margin-bottom: 20px;
}
.three-category p {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
.count {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
  height: 60vh;
  margin-top: 50px;
  padding: 50px;
}
.countdown {
  display: flex;
  transform: scale(2);
}
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.time h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 5px;
}
#feature {
  background-color: whitesmoke;
  text-align: center;
}
#feature h1 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  padding-top: 100px;
  margin-bottom: 40px;
}
hr.line {
  margin-left: 45%;
  padding-bottom: 50px;
  width: 10%;
  border: none;
  border-top: 2px solid blue;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  background-color: whitesmoke;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}
.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.product h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.product p {
  font-size: 14px;
  margin-bottom: 5px;
}

.product .price,
.product .sale-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline;
}

.product .price {
  color: #333;
  text-decoration: line-through;
  margin-right: 10px;
}

.product .sale-price {
  color: red;
}

#wide0 {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0 20px;
}
.wide {
  text-align: center;
}
.wide h4 {
  font-weight: bolder;
  color: black;
}
